@font-face {
  font-family: oldschoolGrotesk;
  src: url("/OldschoolGrotesk_Trial/VariableFont/OldschoolGroteskVarTrial.ttf")
    format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  -webkit-text-size-adjust: 100%; /* or 'none' if you want to disable it */
}

@layer components {
  * {
    @apply font-oldschoolGrotesk;
  }
}


:root {
  --leave: #d0ff71;
}
::selection {
  background-color: var(--leave);
}

